/* index.css */

* {
    font-weight: 500px;
}

/* italian flag title - front page*/
.t-green {
    background-color: darkgreen;
}
.t-white {
    border-style: solid;
    background-color: white;
}
.t-red {
    background-color: red;
}
.title {
    
    border-style: solid;
    background-color: red;
}
/* italian flag title - front page */

/* italian flag list - front page*/
.rl-green {
    color: green;
}
.rl-white {
    color: white;
}
.rl-red {
    color: red;
}
.recipes-list {
    display: block;
    text-align: left;
    background-color: darkred;
}
/* italian flag list - front page*/

/* outside container*/
.container-green {
    background-color: darkgreen;
}
.container-white {
    background-color: #ffffef;
}
.container-red {
    background-color: red;
}
/* outside container*/

/* recipe-card */
.arra-recipe-card, 
.bol-recipe-card, 
.car-recipe-card {
    width: 540px;
    border-style: solid;
    border-color: darkred;
    border-width: 25px;
    color: black;
    text-decoration: none;
    background-color: white;
}

/* recipe-card */

/* title underline */
.arra-recipe-card h1, 
.bol-recipe-card h1, 
.car-recipe-card h1 {
    text-decoration: underline;
}
/* title underline */

/* text description */
.arra-recipe-card p, 
.bol-recipe-card p, 
.car-recipe-card p {
    width: 525px; 
    height: 100px;
    font-size: 18px;
    text-align: right;
}
/* text description */

.footer {
    text-align: left;
}

img {
    width: auto;
    height: 500px;
}

ul {
    list-style: none;
}
li {
    text-align: start;
}

/* ingredients + steps */
ul h2,
ol h2 {
    text-transform: uppercase;
    text-align: left;
    text-decoration: underline;
    font-size: 20px;
    height: 10px;
}
/* ingredients + steps */

/* image description */
h5 {
    height: 20px;
    width: 525px;
    font-size: 15px;
    text-align: right;
    text-decoration: underline;
}
/* image description */